$primary-rgb: 24, 119, 241;
$gray: rgb(239, 241, 244);
$primary: rgb(24, 119, 241);
$primary-rgb: 24, 119, 241;
$lightblue: rgb(158, 208, 255);
$profile-header-height: 350px;
$post-width: 500px;

.tag-profile {
  height: 100%;
  min-height: calc(100vh - #{$profile-header-height});
}

.register-form,
.login-form{
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  width: 400px;
}

@media (max-width: 400px) {
  .register-form, .login-form {
    width: 90%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
