$primary-rgb: 24, 119, 241;
$gray: rgb(239, 241, 244);
$primary: rgb(24, 119, 241);
$primary-rgb: 24, 119, 241;
$lightblue: rgb(158, 208, 255);
$profile-header-height: 350px;
$post-width: 500px;
$header-height: 80px;

.tag-profile {
  height: 100%;
  min-height: calc(100vh - #{$profile-header-height});
}

.register-form,
.login-form{
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  width: 400px;
}

@media (max-width: 400px) {
  .register-form, .login-form {
    width: 90%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.profile-header a.active {
  color: $primary;
  border-bottom: 2px solid $primary;
}

.unsigned-header {
  .logo {
    height: $header-height;
    width: 230px;
    background: url("../images/logo.svg") no-repeat;
    background-size: cover;
  }

  @media (max-width: 640px) {
    .logo{
      background: url("../images/icon.png") no-repeat;
      height: calc(#{$header-height} - 25px);
      width: calc(#{$header-height} - 25px);
      background-size: cover;
      margin: 10px;
    }
  }
}

.unsigned-home {
  height: calc(100vh - #{$header-height});
}

.signed-header {
  height: $header-height;

  .logo {
    background: url("../images/icon.png") no-repeat;
    height: calc(#{$header-height} - 15px);
    width: 65px;
    background-size: cover;
  }
}

