$primary-rgb: 24, 119, 241


.register-form, login-form
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%)
  width: 400px

@media only screen and (max-width: 400px)
  .register-form, login-form
    width: 250px
    padding-top: 1.5rem
    padding-bottom: 1.5rem
    padding-left: 1rem
    padding-right: 1rem
