$primary: rgb(24, 119, 241);
$gray: rgb(239, 241, 244);
$header-height: 60px;

.register-form,
.login-form{
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  width: 400px;
}

@media (max-width: 400px) {
  .register-form, .login-form {
    width: 90%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.profile-header {
  a.active, a:hover {
    color: $primary;
    border-bottom: 2px solid $primary;
  }
}

.signed-header {
  height: $header-height;
  margin-top: -$header-height;

  .logo {
    background: url("../images/icon.png") no-repeat;
    height: calc(#{$header-height} - 15px);
    width: calc(#{$header-height} - 15px);
    background-size: cover;
  }
}

.body {
  margin-top: $header-height;
  min-height: calc(100vh - #{$header-height});
  background: $gray;
}

.box {
  @apply rounded-lg shadow-md bg-white my-4 py-3 px-5;
}
