@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary: rgb(var(--primary-rgb));
    --primary-rgb: 24, 119, 241;
    --gray: rgb(239, 241, 244);
    --lightblue: rgb(158, 208, 255);
    --profile-header-height: 300px;
    --post-width: 500px;
    --header-height: 60px;
}
html {
    overflow-x: hidden;
}

input:focus {
    outline: none !important;
}

textarea:focus {
    outline: none !important;
}

li {
    list-style: none;
}
