@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --gray: rgb(239, 241, 244);
    --primary: rgb(24, 119, 241);
    --primary-rgb: 24, 119, 241;
    --lightblue: rgb(158, 208, 255);
    --profile-header-height: 300px;
}

html {
    overflow-x: hidden;
}

input:focus {
    outline: none !important;
}

textarea:focus {
    outline: none !important;
}

li {
    list-style: none;
}
